/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: #ddd;
}

header h1 {
    margin: 0;
}

header h2 {
    margin: 0;
    font-weight: normal;
}

/*----------- NAVIGATION --------------*/
nav {
    background-color: #666;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    border-bottom: solid 1px #333;
}

nav ul li a {
    display: block;
    background-color: #444;
    color: #eee;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}

nav ul li.active a {
    background-color: #000;
    color: #fff;
}

/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 20rem;
}

/*----------- FORM --------------*/

.wf1 fieldset {
    margin: 20px 0;
    padding: 10px 5%;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.wf1 legend {
    font-size: 15px;
    font-weight: bold;
    padding: 0 5px;
    color: rgb(17, 17, 135);
}

.wf1 label {
    display: block;
    padding-top: 10px;
    color: rgb(107, 17, 17);
    font-size: 12px;
}

.wf1 input[type="text"],
.wf1 input[type="tel"],
.wf1 input[type="email"],
.wf1 input[type="url"],
.wf1 input[type="date"],
.wf1 select,
.wf1 input[type="number"] {
    background-color: rgb(222, 222, 222);
    display: block;
    width: 100%;
    max-width: 400px;
    padding: .75em;
    border: 1px solid #c3c2c2;
    border-radius: 4px;
    color: #2b2a2a;
}

.wf1 input[type="radio"],
.wf1 input[type="checkbox"] {
    margin-right: .5em;
}

.wf1 input[type="submit"] {
    background-color: rgb(146, 32, 32);
    color: #fff;
    padding: .8rem;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    width: 90%;
    max-width: 400px;
    margin: -1rem 5% 2rem 5%;
}

.subt {
    font-size: 14px;
    font-weight: bold;
    padding-top: 12px;
    color: rgb(17, 17, 135);
}

.wf1 input:required {
    border-left: 6px solid rgb(146, 32, 32);
}

.wf1 input:required:valid {
    border-left: 6px solid rgb(32, 146, 51);
}

/*----------- FOOTER --------------*/
footer {
    background-color: #ddd;
    padding: .5rem 2%;
    text-align: center;
}