* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto, helvetica, sans-serif;
    margin: 1rem;
}

header,
main,
footer {
    max-width: 760px;
    margin: 0 auto;
}

h1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 1rem 0;
}

section {
    margin: 1rem;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

h2 {
    color: navy;
    text-align: start;
    grid-column: 1 / 3;
}

article p {
    text-align: justify;
}

.callout {
    color: #ededed;
    background-color: #702963;
    padding: 10px 20px;
    grid-column: 1/3;
}

.banner {
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: rgb(230 243 254 / 1);
    font-weight: 700;
    word-break: break-word;
    text-align: center;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-size: smaller;
    text-align: left;
}