@media (min-width: 768px) {

    header {
        flex-direction: row;
        justify-content: space-between;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: end;
        margin-right: 10px;
    }

    .hero {
        display: grid;
        grid-template-columns: auto 1.5fr;
    }

    .ncompany {
        width: 2500px;
        text-align: end;
        padding-right: 120px;
    }

    .hero-text {
        width: 100%;
        max-width: 1300px;
        text-align: end;
    }

    .hero-text h1 {
        padding-bottom: 20px;
        padding-left: 20px;
        font-size: 50px;
    }

    .hero-text p,
    .hero-cta {
        padding: 20px;
        font-size: 30px;
    }

    .hero img {
        width: 500px;
        height: 300px;
        margin-right: 130px;
        margin-left: 20px;
    }

    .btn {
        font-size: 30px;
    }

    .icon-row {
        grid-template-columns: repeat(6, 1fr);
    }

    .icon-circle {
        width: 200px;
        height: 200px;
        font-size: 100px;
    }

    .icon-circle p {
        font-size: 30px;
    }

    .cta-section {
        flex-direction: row;
    }

    .importance {
        flex-direction: row;
        align-items: center;
    }

    #importance-text {
        width: 100%;
        height: 302px;
        font-size: 1rem;
        align-content: center;
    }

    .importance img {
        width: 100%;
        height: 302px;
        max-width: 350px;
    }
}