@media (min-width: 768px) {

    header {
        flex-direction: row;
        justify-content: space-between;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: end;
        margin-right: 10px;
    }

    .ncompany {
        width: 2500px;
        text-align: center;
        text-align: end;
        padding-right: 120px;
    }

    .hero {
        flex-direction: row;
        text-align: left;
    }

    .icon-row {
        grid-template-columns: repeat(6, 1fr);
    }

    .cta-section {
        flex-direction: row;
    }

    .importance {
        flex-direction: row;
        align-items: center;
    }

    #importance-text {
        width: 100%;
        height: 302px;
        font-size: 1rem;
    }

    .importance img {
        width: 100%;
        height: 302px;
        max-width: 350px;
    }
}