* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 850px;
    justify-self: center;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgba(51, 51, 51);
    color: white;
}

header p {
    font-size: 15px;
    padding: 10px 10px 50px;
}

nav {
    background-color: black;
    width: 100%;
    height: 50px;
}

nav ul {
    display: flex;
}

nav a {
    width: 100%;
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    font-size: 15px;
    display: flex;
    justify-content: space-around;
}

main {
    max-width: 850px;
    height: 300px;
    margin: 0 auto;
    color: black;
    display: grid;
    grid-template-columns: minmax(0, 3fr) minmax(0, 1fr);
}

.main-content {
    background-color: lightgrey;
    padding: 10px;
    width: 39.8rem;
}

.aside-content {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    width: 13rem;
}

footer {
    background-color: rgba(51, 51, 51);
    color: white;
    height: 150px;
}

footer p {
    padding: 15px;
    font-size: 15px;
    display: flex;
    justify-content: center;
}