* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "League Spartan", sans-serif;
}

h2 {
    background-color: rgba(29, 77, 114);
    color: rgba(240, 248, 250);
    display: flex;
    justify-content: center;
    font-family: 'briols', sans-serif;
    align-content: center;
    font-size: x-large;
}

header {
    padding: 0;
    background-color: rgba(51, 51, 51);
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: 'briols', sans-serif;
    padding: 20px;
    font-size: large;
}

nav a:hover {
    text-decoration: underline;
    color: rgb(243, 255, 114);
}

main {
    justify-self: center;
    max-width: 1850px;
}

h1 {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    color: rgba(44, 54, 51);
    font-size: 50px;
    font-weight: 400;
}

footer {
    margin-top: 50px;
    background-color: rgba(29, 77, 114);
    color: rgba(240, 248, 250);
    padding: 20px;
    font-size: large;
    display: block;
}

footer p {
    text-align: center;
    padding: 5px;
    font-size: larger;
}

/* Classes */

.myself {
    display: grid;
    grid-template-columns: 2fr 0.5fr;
    margin: 0 50px;
}

.card {
    border: 2px solid rgb(0, 0, 0, 0.3);
    text-align: center;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto auto;
    border-radius: 5%;
    overflow: hidden;
    margin: 0 8px;
}

.card h2 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    border-radius: 5% 5% 0 0;
    margin: 0;
    padding: 12px;
    height: 50px;
}

.card p {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    width: 100%;
    justify-content: center;
    align-content: center;
    padding: 30px;
    font-size: x-large;
    text-align: left;
}

.card img {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    width: 250px;
    height: auto;
    border: 1px solid black;
    margin: 20px 40px 0 10px;
}

.card ul {
    grid-column: 1 / 4;
    grid-row: 2 / 4;
    font-size: large;
    list-style: disc;
    list-style-position: inside;
    text-align: left;
    padding-left: 30px;
}

.card li {
    margin: 10px;
}

.flag {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
}

.flag h3 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    justify-self: center;
    padding: 10px;
    font-size: xx-large;
    border-bottom: 1px solid rgb(0, 0, 0, 0.3);
    width: 800px;
}

.image-box img {
    width: 350px;
    height: auto;
    justify-self: center;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.flag p {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    font-size: x-large;
    text-align: left;
}

.image-box figcaption {
    grid-column: 1 / 2;
    margin: 0 auto;
    padding: 20px 0;
}

.highlight {
    font-weight: bold;
    color: rgb(243, 255, 114);
}

/* IDs */

#course-title {
    font-size: xx-large;
    padding: 30px;
    color: rgba(240, 248, 250);
    background-color: rgba(29, 77, 114);
    display: block;
    text-align: center;
}

#course-title span {
    color: rgba(240, 248, 250);
}