* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: rgb(0, 0, 0, 0.5);
    --secondary-color: rgb(220 220 225);
    --third-color: rgb(38 38 176);
    --background-color: rgb(31 37 77);
    --text-color: rgb(255 255 255);
    --font-headers: "DM Serif Text", serif;
    --font-text: "Tinos", serif;
    --font-extra: "Yrsa", serif;
}

body {
    max-width: 400px;
    justify-self: center;
}

main {
    border: 1px solid var(--primary-color);
    margin: 20px auto;
    background-color: var(--secondary-color);
    color: black;
}

h1 {
    font-family: var(--font-headers);
    font-weight: 200;
}

header,
footer {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 20px;
    justify-items: center;
    width: 100%;
}

form {
    display: block;
    padding: 0 20px;
}

fieldset {
    border: none;
    margin: 15px 0;
}

legend {
    margin-top: 10px;
    font-size: 1.2em;
    font-family: var(--font-text);
}

label {
    display: block;
    margin: 10px 0;
    font-size: 1.2em;
    font-family: var(--font-text);
}

input {
    display: block;
    width: 100%;
    max-width: 400px;
    font-family: var(--font-extra);
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

select {
    padding: 10px;
    width: 100%;
    max-width: 400px;
}

/* Classes */

.stars {
    display: flex;
    flex-direction: row;
}

.stars label {
    font-size: 1.5em;
    color: black;
    cursor: pointer;
    margin: 0 auto;
    height: auto;
}

.stars input[type="radio"] {
    justify-self: center;
    border: 2px solid var(--secondary-color);
}

.features label {
    display: flex;
    flex-direction: row;
}

.features input[type="checkbox"] {
    margin-right: .5em;
}

.optional-text {
    color: var(--third-color);
    font-weight: normal;
}

input[type="submit"] {
    background-color: rgb(146, 32, 32);
    color: #fff;
    padding: .8rem;
    border: none;
    border-radius: 50px;
    font-size: 23px;
    cursor: pointer;
    width: 90%;
    max-width: 400px;
    margin: 1rem 5% 1rem 5%;
}

/* ID´s */

#product,
#dateinstall,
#fname {
    width: 100%;
    max-width: 400px;
    height: 35px;
    border-radius: 3px;
    border: 1px solid rgb(0, 0, 0, 0.2);
    font-family: var(--font-extra);
}

#dateinstall {
    padding: 10px;
}

#review {
    width: 100%;
    max-width: 400px;
    height: 80px;
    border-radius: 3px;
    border: 1px solid rgb(0, 0, 0, 0.2);
    font-family: var(--font-extra);
}

input[type="textarea"],
input[type="text"] {
    padding: 0 10px;
    font-family: var(--font-extra);
}

/* review */

.container {
    padding: 20px;
    align-items: center;
    justify-self: center;
    border: 1px solid rgb(0, 0, 0, 0.2);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    height: 200px;
}

.container h1 {
    justify-self: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.container p {
    padding: 2.5px;
    justify-self: center;
}

.back-form {
    background-color: rgb(146, 32, 32);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    margin: 20px;
    display: block;
    justify-self: center;
    text-decoration: none;
}

.back-form:hover {
    background: #1f7137;
}