@media screen and (min-width: 800px) {

    body {
        max-width: 800px;
        width: 800px;
        justify-self: center;
    }

    main {
        border: 1px solid var(--primary-color);
        margin: 20px auto;
        background-color: var(--secondary-color);
        color: black;
    }

    h1 {
        font-family: var(--font-headers);
        font-weight: 400;
        font-size: 50px;
    }

    select {
        display: block;
    }

    label,
    legend {
        font-size: x-large;
    }

    #product,
    #dateinstall,
    #fname {
        font-size: large;
        height: 44px;
    }

    #review {
        height: 80px;
        font-size: large;
    }

    .star {
        font-size: 2.2rem;
    }

    /* review */

    .container {
        width: 100%;
        height: 300px;
        padding: 50px;
    }

    .container p {
        text-align: center;
    }

    .back-form {
        display: block;
        justify-self: center;
    }

}