@media screen and (min-width: 600px) {

    body {
        max-width: 600px;
        width: 100%;
        justify-self: center;
    }

    main {
        border: 1px solid var(--primary-color);
        margin: 20px auto;
        background-color: var(--secondary-color);
        color: black;
    }

    h1 {
        font-family: var(--font-headers);
        font-weight: 400;
        font-size: 50px;
    }

    select {
        display: block;
    }

    label,
    legend {
        font-size: x-large;
    }

    #product,
    #dateinstall,
    #fname {
        font-size: large;
        height: 44px;
    }

    #review {
        height: 80px;
        font-size: large;
    }

    .stars {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        max-width: 600px;
    }

    .star-group label {
        font-size: 2rem;
        font-weight: bold;
        color: rgb(85 85 85);
        cursor: pointer;
        transition: color 0.2s;
    }

    .star-group input {
        margin-top: .3rem;
        transform: scale(0.85);
        height: 20px;
        width: 20px;
    }

    .container {
        width: 100%;
        height: 300px;
        padding: 50px;
    }

    .container p {
        text-align: center;
    }

    .back-form {
        display: block;
        justify-self: center;
    }

}