* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header,
footer {
    background-color: #164ebf;
    color: white;
    text-align: center;
    padding: 1em 0;
    font-size: x-large;
    font-weight: bold;
}

main {
    display: grid;
    gap: 10px;
    justify-items: center;
}

picture img {
    width: 100%;
    height: 100%;
    margin: 0 0 10px 0;
    border-bottom: 10px solid rgb(19, 94, 15);
    border-top: 10px solid rgb(19, 94, 15);
}

h2 {
    margin: 10px;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.card {
    text-align: center;
    margin: 10px;
}

.data-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 8px;
}

dt {
    text-align: right;
    font-weight: 500;
}

dd {
    text-align: left;
    font-weight: 300;
}