:root {
    --backgroung-color1: rgb(24 82 197);
    --background-color2: rgb(250, 243, 235, 0.8);
    --background-color3: rgb(19, 94, 15);
    --text-color: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    margin: 20px;
}

header,
footer {
    background-color: var(--backgroung-color1);
    color: var(--text-color);
    font-family: "Allan", serif;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    font-weight: 100;
}

picture img {
    width: 100%;
    height: 100%;
    border-bottom: 10px solid rgb(19, 94, 15);
    border-top: 10px solid rgb(19, 94, 15);
}

h2 {
    margin: 10px;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-family: "Allan", serif;
    font-size: 40px;
}

.info {
    display: grid;
    gap: 10px;
    padding: 1rem;
}

.card1,
.card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.card1 h2,
.card2 h2 {
    margin-bottom: 20px;
    font-size: 2.5rem;
    text-align: center;
}

.card1 p,
.card2 p {
    font-family: "Farsan", cursive;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    width: 100%;
    margin: 1px 0;
}

.card2 img {
    margin-bottom: 20px;
}

.card1 p strong,
.card2 p strong {
    font-family: "Farsan", cursive;
    text-align: right;
    font-weight: bold;
}

.card1 p span,
.card2 p span {
    font-family: "Farsan", cursive;
    text-align: left;
}