:root {
    --backgroung-color1: rgb(24 82 197);
    --background-color2: rgb(250, 243, 235, 0.8);
    --background-color3: rgb(19, 94, 15);
    --text-color: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header,
footer {
    background-color: var(--backgroung-color1);
    color: var(--text-color);
    font-family: "Allan", serif;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    font-weight: 100;
}

picture img {
    width: 100%;
    height: 100%;
    border-bottom: 10px solid rgb(19, 94, 15);
    border-top: 10px solid rgb(19, 94, 15);
}

h2 {
    margin: 10px;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-family: "Allan", serif;
    font-size: 40px;
}

.data-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 8px;
}

dt {
    text-align: right;
    font-weight: 500;
    font-family: "Allan", serif;
}

dd {
    text-align: left;
    font-weight: 300;
    font-family: "Farsan", "cursive";
}

.card2 h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.card2 {
    text-align: center;
    padding: 10px;
}

.card2 img {
    width: 80px;
    height: 80px;
}