@media screen and (min-width: 750px) {

    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    main {
        position: relative;
        margin: 0;
    }

    h1 {
        font-size: 100px;
    }

    .hero img {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        object-position: center;
        display: block;
        margin-top: 30px;
        margin-bottom: 30px;
        overflow: hidden;
        margin: 0;
    }

    .card1 {
        position: absolute;
        background-color: var(--background-color2);
        top: 80px;
        left: 80px;
        width: 550px;
        height: 580px;
        padding: 10px;
        font-size: 30px;
        padding: 10px;
    }

    .card2 {
        position: absolute;
        background-color: var(--background-color2);
        bottom: 90px;
        right: 90px;
        width: 450px;
        padding: 10px;
        font-size: xx-large;
    }

    .card1 h2,
    .card2 h2 {
        background-color: var(--background-color3);
        color: var(--text-color);
        padding: 15px 20px;
        margin-left: -30px;
        align-self: flex-start;
        display: flex;
        flex-direction: row;
        font-size: 1.5em;
        justify-content: space-between;

    }

    .card2 h2::after {
        content: " ⛅";
        justify-self: end;
        font-size: 3rem;
    }

    .card2 img {
        display: none;
    }
}