* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(31, 31, 85);
    padding: 2rem 2rem;
}

.album {
    color: white;
    font-weight: 800;
    font-size: xx-large;
}

h1 {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    margin-left: 1rem;
    padding: 20px;
    font-size: xx-large;
}

h2 {
    font-size: 1.2rem;
    color: navy;
    text-align: left;
    margin: 1rem;
}


/* small navigation */

#menu {
    font-size: xx-large;
    border: 0;
    background: none;
    color: rgb(255, 255, 255);
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    background-color: rgb(31, 31, 85);
    color: #fff;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
}

/* when is displayed */

.open a {
    display: block;
}

.navigation.open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}

#menu.open {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 10001;
}

.active::before {
    content: "☝️";
    /* just a wayfinding symbol for the user */
}