body {
    font-family: "Roboto", sans-serif;
}

header,
main,
footer {
    max-width: 640px;
    margin: 1rem auto;
    padding: 20px;
    border: 1px solid #000000;
    background-color: rgb(23, 23, 113);
    color: white;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.scripture {
    padding: 1rem;
    background-color: #393838;
}